@model ErrorViewModel
@{
    ViewData["Title"] = "Błąd";
}

<h1 class="text-danger">Błąd.</h1>
<h2 class="text-danger">Wystąpił błąd podczas przetwarzania żądania.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Identyfikator żądania:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Tryb deweloperski</h3>
<p>
    Przełączenie na środowisko <strong>Development</strong> spowoduje wyświetlenie bardziej szczegółowych informacji o błędzie.
</p>
<p>
    <strong>Środowisko Development nie powinno być włączone w aplikacjach wdrożonych.</strong>
    Może to spowodować wyświetlanie użytkownikom wrażliwych informacji z wyjątków.
    Do lokalnego debugowania włącz środowisko <strong>Development</strong>, ustawiając zmienną środowiskową <strong>ASPNETCORE_ENVIRONMENT</strong> na <strong>Development</strong>
    i uruchamiając aplikację ponownie.
</p>